 <app-nav-bar
 descripcion
 >
 </app-nav-bar>
<!-- En tu componente HTML -->
<ion-content>
  
<div class="container">
  <div class="news-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <ion-card>
          <ion-card-header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <ion-card-title><img src="https://imgs.search.brave.com/Yd4aBS-9El4Yo3W_pfR3127FCo2hSnKTjTC1YwSZda0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/bWVkaWF3cGFjY29y/ZS5uZXQvd3AtY29u/dGVudC91cGxvYWRz/LzIwMjMvMTEvMjIx/ODQ1MTYvQ04zNjBf/TWFnYXppbmVfTm92/aWVtYnJlLmpwZw" width="200" height="200"></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsam nisi aut, quidem dolore officiis dolorem reprehenderit voluptatem autem quod alias, eos ipsum officia aperiam.
            <p>Descripción 1</p>
          </ion-card-content>
        </ion-card>
      </div>
 
 
</div>
  
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <ion-card>
          <ion-card-header>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ea ipsum inventore itaque, delectus, ut enim, ratione a sequi aliquam debitis maxime temporibus aperiam expedita?
            <ion-card-title><img src="https://imgs.search.brave.com/Yd4aBS-9El4Yo3W_pfR3127FCo2hSnKTjTC1YwSZda0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/bWVkaWF3cGFjY29y/ZS5uZXQvd3AtY29u/dGVudC91cGxvYWRz/LzIwMjMvMTEvMjIx/ODQ1MTYvQ04zNjBf/TWFnYXppbmVfTm92/aWVtYnJlLmpwZw" width="200" height="200"></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, voluptatem. Voluptatibus impedit nesciunt, numquam ipsa accusantium aperiam facere. Corrupti praesentium ducimus, quisquam adipisci error debitis.
            <p>Descripción 2</p>
          </ion-card-content>
        </ion-card>
      </div>
  
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <ion-card>
          <ion-card-header>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit molestias totam numquam, eum, dolore cum delectus aut vel, aspernatur sed dolor possimus ratione aliquam. Labore!
            <ion-card-title><img src="https://imgs.search.brave.com/Yd4aBS-9El4Yo3W_pfR3127FCo2hSnKTjTC1YwSZda0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/bWVkaWF3cGFjY29y/ZS5uZXQvd3AtY29u/dGVudC91cGxvYWRz/LzIwMjMvMTEvMjIx/ODQ1MTYvQ04zNjBf/TWFnYXppbmVfTm92/aWVtYnJlLmpwZw" width="200" height="200"></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, maiores delectus eveniet, quia velit unde explicabo distinctio, eum possimus expedita earum ducimus voluptate! Quaerat, dolorum?
            <p>Descripción 3</p>
          </ion-card-content>
        </ion-card>
      </div>
   

    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <ion-card>
        <ion-card-header>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ea ipsum inventore itaque, delectus, ut enim, ratione a sequi aliquam debitis maxime temporibus aperiam expedita?
          <ion-card-title><img src="https://imgs.search.brave.com/Yd4aBS-9El4Yo3W_pfR3127FCo2hSnKTjTC1YwSZda0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/bWVkaWF3cGFjY29y/ZS5uZXQvd3AtY29u/dGVudC91cGxvYWRz/LzIwMjMvMTEvMjIx/ODQ1MTYvQ04zNjBf/TWFnYXppbmVfTm92/aWVtYnJlLmpwZw" width="200" height="200"></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, voluptatem. Voluptatibus impedit nesciunt, numquam ipsa accusantium aperiam facere. Corrupti praesentium ducimus, quisquam adipisci error debitis.
          <p>Descripción 2</p>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <ion-card>
        <ion-card-header>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit molestias totam numquam, eum, dolore cum delectus aut vel, aspernatur sed dolor possimus ratione aliquam. Labore!
          <ion-card-title><img src="https://imgs.search.brave.com/Yd4aBS-9El4Yo3W_pfR3127FCo2hSnKTjTC1YwSZda0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/bWVkaWF3cGFjY29y/ZS5uZXQvd3AtY29u/dGVudC91cGxvYWRz/LzIwMjMvMTEvMjIx/ODQ1MTYvQ04zNjBf/TWFnYXppbmVfTm92/aWVtYnJlLmpwZw" width="200" height="200"></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, maiores delectus eveniet, quia velit unde explicabo distinctio, eum possimus expedita earum ducimus voluptate! Quaerat, dolorum?
          <p>Descripción 3</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</div>
 
  </div>
</ion-content>